Package: com.michaelmelita1.medusa12
Name: Medusa12
Depends: mobilesubstrate, firmware (<= 12.7)
Version: 0.0.2
Architecture: iphoneos-arm
Description: Medusa for iPad Air on iOS 12
Maintainer: Michael Melita
Author: Michael Melita
Section: Tweaks
Depiction: https://michaelmelita1.github.io/depictions/?p=com.michaelmelita1.medusa12
Sileodepiction: https://michaelmelita1.github.io/sileodepictions/com.michaelmelita1.medusa12/info.json
